@import "./bulma-rtl.min.css";
@import "./bulma-responsive-tables.min.css";
@import "../fonts/vazir/Vazirmatn-RD-FD-font-face.css";

body {
    min-height: 1000px;
    font-family: "Vazirmatn RD FD";
}

.tabular_numbers {
    font-feature-settings: "tnum";
}

